rpi-dashboard/flows.json
[{"id":"d8b40c37.7fd748","type":"tab","label":"Home","disabled":false,"info":""},{"id":"7f717486.e31e8c","type":"tab","label":"Vehicle","disabled":false,"info":""},{"id":"3e56901f.b4aac","type":"tab","label":"Settings","disabled":false,"info":""},{"id":"734e8117.dcf29","type":"tab","label":"Sensors","disabled":false,"info":""},{"id":"4a91fec4.5ed8e","type":"ui_tab","name":"Home","icon":"home","order":1,"disabled":false,"hidden":false},{"id":"a999ed30.92fee","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Verdana,Verdana,Geneva,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"Verdana,Verdana,Geneva,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"true","allowSwipe":"true","lockMenu":"icon","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":40,"sy":40,"gx":0,"gy":0,"cx":0,"cy":0,"px":0,"py":0}}},{"id":"b418fe9c.51467","type":"ui_group","name":"Home","tab":"4a91fec4.5ed8e","order":1,"disp":false,"width":"19","collapse":false},{"id":"8702bca7.64e2b8","type":"ui_tab","name":"Vehicle","icon":"directions_car","order":2,"disabled":false,"hidden":false},{"id":"f3af13fb.dab4","type":"ui_group","name":"Vehicle Status","tab":"8702bca7.64e2b8","order":1,"disp":true,"width":"19","collapse":false},{"id":"4b7db33.210fecc","type":"mqtt-broker","name":"localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"71e60b.4d02c1f4","type":"ui_tab","name":"Settings","icon":"settings","order":3,"disabled":false,"hidden":false},{"id":"18965cda.34db2b","type":"ui_group","name":"Settings","tab":"71e60b.4d02c1f4","order":1,"disp":true,"width":"19","collapse":false},{"id":"f783057d.1b983","type":"ui_spacer","name":"spacer","group":"f3af13fb.dab4","order":1,"width":19,"height":1},{"id":"7ad1d223.316cdc","type":"ui_spacer","name":"spacer","group":"f3af13fb.dab4","order":2,"width":19,"height":1},{"id":"c0959ffa.f7c8f8","type":"ui_spacer","name":"spacer","group":"f3af13fb.dab4","order":3,"width":19,"height":1},{"id":"3402bda8.60fce2","type":"ui_spacer","name":"spacer","group":"f3af13fb.dab4","order":4,"width":19,"height":1},{"id":"35123804.f6e16","type":"ui_spacer","name":"spacer","group":"18965cda.34db2b","order":1,"width":7,"height":1},{"id":"554b4e73.08fc18","type":"ui_spacer","name":"spacer","group":"18965cda.34db2b","order":3,"width":7,"height":1},{"id":"1ff6a300.04b1a5","type":"ui_spacer","name":"spacer","group":"18965cda.34db2b","order":4,"width":7,"height":1},{"id":"fa558c6.9a6b37","type":"ui_spacer","name":"spacer","group":"18965cda.34db2b","order":5,"width":7,"height":1},{"id":"7019f0d2.af81e8","type":"ui_spacer","name":"spacer","group":"18965cda.34db2b","order":6,"width":19,"height":1},{"id":"bcb9fc66.81131","type":"ui_spacer","name":"spacer","group":"18965cda.34db2b","order":7,"width":7,"height":1},{"id":"f343c3d8.31ddc","type":"ui_spacer","name":"spacer","group":"18965cda.34db2b","order":9,"width":7,"height":1},{"id":"2c8c0384.7cd5a4","type":"ui_spacer","name":"spacer","group":"18965cda.34db2b","order":10,"width":7,"height":1},{"id":"23db42b.317a4be","type":"ui_spacer","name":"spacer","group":"18965cda.34db2b","order":11,"width":7,"height":1},{"id":"b0a70725.233e4","type":"ui_spacer","name":"spacer","group":"b418fe9c.51467","order":4,"width":7,"height":1},{"id":"5da33183.3f9c28","type":"ui_spacer","name":"spacer","group":"b418fe9c.51467","order":5,"width":7,"height":1},{"id":"5ee78140.3a5cc","type":"ui_spacer","name":"spacer","group":"b418fe9c.51467","order":6,"width":7,"height":1},{"id":"6d5d5f3d.8d69c8","type":"ui_media","z":"d8b40c37.7fd748","group":"b418fe9c.51467","name":"","width":12,"height":7,"order":1,"category":"Videos","file":"vokoscreenNG-2021-05-01_11-19-28.mp4","layout":"expand","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":670,"y":500,"wires":[[]]},{"id":"5311c762.1f8978","type":"inject","z":"d8b40c37.7fd748","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"video","payload":"{\"category\":\"Videos\",\"name\":\"1.gif\",\"play\":true}","payloadType":"json","x":270,"y":520,"wires":[["6d5d5f3d.8d69c8","60399aea.7c57ec"]]},{"id":"60399aea.7c57ec","type":"debug","z":"d8b40c37.7fd748","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":600,"wires":[]},{"id":"d9ab210b.8cc9a","type":"mqtt in","z":"7f717486.e31e8c","name":"bytes_sent","topic":"$SYS/broker/bytes/sent","qos":"2","datatype":"utf8","broker":"4b7db33.210fecc","nl":false,"rap":true,"rh":0,"x":480,"y":300,"wires":[["b5c455c8.7bb3c8"]]},{"id":"b5c455c8.7bb3c8","type":"ui_text","z":"7f717486.e31e8c","group":"f3af13fb.dab4","order":5,"width":0,"height":0,"name":"","label":"bytes_sent","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":300,"wires":[]},{"id":"7ec5ce34.608a98","type":"ui_button","z":"3e56901f.b4aac","name":"","group":"18965cda.34db2b","order":2,"width":5,"height":2,"passthru":false,"label":"Power Off","tooltip":"","color":"","bgcolor":"#d00","icon":"power_settings_new","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":540,"y":380,"wires":[["f291691d.9bcd1"]]},{"id":"f291691d.9bcd1","type":"shutdown","z":"3e56901f.b4aac","name":"","x":790,"y":380,"wires":[]},{"id":"c07c2247.10585","type":"ui_button","z":"3e56901f.b4aac","name":"","group":"18965cda.34db2b","order":8,"width":5,"height":2,"passthru":false,"label":"Restart","tooltip":"","color":"","bgcolor":"","icon":"replay","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":540,"y":460,"wires":[["9d70e04f.ebfc98"]]},{"id":"9d70e04f.ebfc98","type":"restart","z":"3e56901f.b4aac","name":"","x":780,"y":460,"wires":[]},{"id":"38e3bc97.9fad74","type":"inject","z":"734e8117.dcf29","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":400,"wires":[["7d866712.8f7be8"]]},{"id":"7d866712.8f7be8","type":"Bme280","z":"734e8117.dcf29","name":"","bus":"1","address":"0x76","topic":"bme280","extra":false,"x":440,"y":400,"wires":[["54502b67.e137ac","eef302fa.276788"]]},{"id":"54502b67.e137ac","type":"ui_text","z":"734e8117.dcf29","group":"b418fe9c.51467","order":2,"width":7,"height":2,"name":"","label":"Temperature","format":"{{msg.payload.temperature_C}} &deg;C","layout":"col-center","x":650,"y":400,"wires":[]},{"id":"eef302fa.276788","type":"ui_text","z":"734e8117.dcf29","group":"b418fe9c.51467","order":3,"width":7,"height":2,"name":"","label":"Humidity","format":"{{msg.payload.humidity}} %rH","layout":"col-center","x":640,"y":460,"wires":[]},{"id":"3c5c2e61.037c22","type":"ui_template","z":"734e8117.dcf29","group":"b418fe9c.51467","name":"","order":6,"width":0,"height":0,"format":"<style>\n    .nr-dashboard-widget-Temperature {\n        font-size: 25px !important;\n    }\n    .nr-dashboard-widget-Humidity {\n        font-size: 25px !important;\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":420,"y":520,"wires":[[]]}]